li {
  list-style: none;
  text-decoration: none;
}
a {
  cursor: pointer;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
}

.showcase header {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  padding: 2em 5em;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
}

.menu {
  /* display: none; */
}

img {
  height: 50px;
  min-width: 50px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.showcase.active {
  right: 14em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #03a9f4; */
  mix-blend-mode: overlay;
}
.text {
  position: relative;
  z-index: 10;
  align-items: center;
  margin: 0 auto;
}

.text h2 {
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  font-family: tomarik-display-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-weight: ; */
}

.text h3 {
  font-size: 3.5em;
  font-family: tomarik-display-shadow, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0;
  font-weight: 400;
}

.text a {
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  color: #111;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}
.text a:hover {
  letter-spacing: 6px;
}

.social {
  position: absolute;
  bottom: 1.5em;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 37%;
}
.social li {
  margin: 0 30px;
}

.social li a {
  display: inline-block;
  /* filter: invert(1); */
  margin-right: 20px;
  transform: scale(0.8);
  transition: 0.5s;
  margin: 0 auto;
  transform: scale(2) translateY(-15px);
}

.social li a:hover {
  transform: scale(2.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 14em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* background: #f2ddad; */
  border: 3px solid #1792d2;
}
.menu ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.menu ul li {
  padding: 20px 30px;
}
.menu ul li a {
  cursor: pointer;
  font-weight: 1000;
  padding: 0.4em;
  transition: 0.2s ease-in;
  color: #707070;
}

.menu ul li a:hover {
  transition: 0.2s ease-in;
  width: 100%;
  color: #03a9f4;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 991px) {
  .showcase,
  .showcase header {
    padding: 40px;
    /* transition: 0.3s ease-in-out; */
  }
  .text h2 {
    font-size: 3em;
    /* transition: 0.3s ease-in-out; */
  }
  .text h3 {
    font-size: 2em;
    /* transition: 0.3s ease-in-out; */
  }
  .social {
    left: 2%;
  }

  .social li a {
    transform: scale(1.5) translateY(-15px);
  }
  .social li a:hover {
    transform: scale(2) translateY(-15px);
  }
} ;
